<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277870400251-o1b5l9l83o1k239q3g4ga8m0dlsvnqoh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277870400251-o1b5l9l83o1k239q3g4ga8m0dlsvnqoh</string>
	<key>API_KEY</key>
	<string>AIzaSyBo4ki_DZqi1bs_5UPHMaU5WfBYcAQTMZc</string>
	<key>GCM_SENDER_ID</key>
	<string>277870400251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thundercard</string>
	<key>PROJECT_ID</key>
	<string>thundercard-test</string>
	<key>STORAGE_BUCKET</key>
	<string>thundercard-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277870400251:ios:8aa37626421d7f875e565e</string>
</dict>
</plist>